{% extends 'base.html' %}
{% load static %}

{% block title %}Convert PDF to Images{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Convert PDF to Images</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Select a PDF file to convert:</h3>
                    <input type="file" name="pdf" accept=".pdf">
                    <button type="submit" class="btn btn-primary">Convert</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
